.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 30;
}
.nav__logo {
  font-size: 1.425rem;
  font-weight: 700;
  padding: 10px 15px;
  transition: 0.3s ease-out;
}
.nav__logo:hover {
  color: var(--light-blue);
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 1.325rem;
  padding-block: 10px;
  padding-inline: 30px;
  transition: 0.3s ease-in;
}

.nav__link:hover {
  background-color: var(--light-blue);
}

@media (max-width: 768px) {
  .nav__logo {
    font-size: 1.2rem;
  }
  .nav__link {
    font-size: 0.7rem;
    padding-inline: 10px;
  }
}
