:root {
  --light-blue: #369;
  --title-blue: #37a;
  --light-red: #d40;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}
